/*------------------------------------------------------------
# Good thing to do: set the fonts & colors that will be used throughout the page with variabels
------------------------------------------------------------*/

/* Fonts */
:root {
  --font-tittles: 'Berkshire Swash', cursive;
  --font-primary: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Colors */
:root {
  --color-default: #FACFDD;
  --color-primary: #E3252F;
  --color-secondary: #F73F55;
  --color-terciary: #ffffff;
}

/* add a smooth scrolling animation to the document when clicking on a link withing scrolling box */
:root {
  scroll-behavior: smooth;
}

/*------------------------------------------------------------
# BODY
------------------------------------------------------------*/

/* body background color */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-default);
  color: var(--color-primary); /*sets color of all texts*/
}

#container {
  /* layout */
  margin-left: 2%;
  margin-right: 2%;
  align-self: center;
}

/*------------------------------------------------------------
# HEADER
------------------------------------------------------------*/
#header {
  position: relative;
  top: 0%;
  margin: 1%;
}

h1 {
  margin: 0;
  font-size: 30px;
  color: var(--color-primary);
  font-family: var(--font-tittles);
  letter-spacing: 1px;
}

.leftHeader {
  float: left;
  padding-right: 10px;
}

.icon {
margin: 0%;
padding-top: 4px;
}

/* borda abaixo do header */
.solidTop {
  width: inherit;
  border: 1px solid;
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--color-primary);
}

/*------------------------------------------------------------
# CONTENTS
------------------------------------------------------------*/
#contents {
  width: inherit;
  margin: 1%;
}

.myName{
  padding: 6% 10% 0% 10%;
  align-self: center;
  text-align: center;
}

.subtitle {
  font-family: var(--font-primary);
  padding: 0% 10% 2% 10%;
  margin: 0%;
  align-self: center;
  text-align: center;
}

.topic{
  padding-top: 2%;
  padding-bottom: 2%;
}

p {
  font-family: var(--font-primary);
  align-self: center;
}

h2 {
  font-family: var(--font-tittles);
}

.centralText {
  display: block;
  padding-top: 4%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.centralImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}

/*------------------------------------------------------------
# LINKS
------------------------------------------------------------*/
a {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-tittles);
  font-weight: 600;
  font-size: large;
}

a:hover {
  color: var(--color-terciary);
  text-decoration: none;
  transition: 0.3s;
}

/* links no footer */
.footLink{
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: large;
  display: inline;
  padding-left: 4%;
}

/*------------------------------------------------------------
# LINKS
------------------------------------------------------------*/
/* borda acima do footer */
.solidBottom {
  width: inherit;
  border: 1px solid;
  color: var(--color-primary);
}

/* h3 do footer */
.h3foot {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-tittles);
  font-weight: 600;
  font-size: large;
  display: inline;
}

.footPaddingText {
  padding-top: 1%;
  padding-bottom: 1%;
}

.footPaddingBottom {
  padding-top: 10%;
  padding-bottom: 5%;
}

.rights {
  margin-bottom: 0%;
  font-family: var(--font-primary);
  font-size: small;
  text-align: right;
}
