.mainBody {
    border: 14px solid;
    width: 90vw;
    height: 78vh;
    background-color: var(--bodyBg);
}
.mainBodyBgYellow {
    border-color: var(--yellow);
}
.mainBodyBgCoral {
    border-color: var(--coral);
}
.mainBodyBgPink {
    border-color: var(--pink);
}
.mainBodyBgPurple {
    border-color: var(--purple);
}