:root {
    --bg: #001927;
    --bodyBg: #e1e1e1;
    --purple: #A42BDD;
    --pink: #E40AA6;
    --coral: #E05D6A;
    --yellow: #E9B37A;
}
:root {
    scroll-behavior: smooth;
  }
::selection {
    background-color: var(--coral);
}